{% load staticfiles %}
{% load humanize %}
<small>
  <table class="anopa table table-condensed table-sm display nowrap" style="width:100%">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Fecha</th>
        <th>Socio</th>
        <th class="text-right">valor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for compensacion in compensaciones %}
        <tr>
          <td>{{ compensacion.formatoAfip }}</td>
          <td>{{ compensacion.fecha|date:"d/m/Y" }}</td>
          <td>{{ compensacion.socio }}</td>
          <td class="text-right">{{ compensacion.valor|intcomma }}</td>
          <td class="text-right">
            {% if user.groups.all.0.name == "contable" and compensacion.asiento %}
            <a href="{% url 'asiento_redireccion' id_asiento=compensacion.asiento.id %}" class="btn btn-icon btn-xs btn-info btn-bordered waves-efect waves-light">
              <i class="fa fa-indent"></i>
            </a>
            {% endif %}
            <a href="{% url 'compens_ver' pk=compensacion.pk %}" class="btn btn-icon btn-xs btn-pink btn-bordered waves-efect waves-light">
              <i class="fa fa-list"></i>
            </a>
            <a href="{% url 'compens_pdf' pk=compensacion.pk %}" target="_blank" class="btn btn-icon btn-xs btn-purple btn-bordered waves-efect waves-light">
              <i class="fa fa-print"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</small>