# Custom
*.pyc
__ pycache __/
admincuenv/
/admincu/settings.py
admincu.sock
/src/
/requirements.txt

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json