{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recibo X {{comprobante.formatoAfipRCX}}</title>
    <link href="{% static 'anopa/pdf.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="receipt">

      <header>
        <div class="taxpayer-details group">
          <address>
            {% if comprobante.consorcio.contribuyente.extras %}
              <img src="{{ comprobante.consorcio.contribuyente.extras.logo_as_data_uri }}" alt="Logo"><br>
            {% else %}
              <h3>{{ comprobante.consorcio.nombre_completo }}</h3>
            {% endif %}
            {{ comprobante.consorcio.domicilio }}<br>
            {{ comprobante.consorcio.provincia }}
          </address>

          <div class="receipt-type">
            <div class="identifier">
              X
            </div>
          </div>

          <div class="receipt-details">
            <div class="receipt-type-description">
              Recibo X{% if comprobante.anulado %} <strong style="color: #FF0000;" >| ANULADO |</strong>{% endif %}
            </div>
            <small>Documento no valido como factura</small><br>
            <strong>Nº</strong> {{ comprobante.formatoAfipRCX }} <br>
            {{ comprobante.fecha|date:"d/m/Y" }}<br>
            <small>
              C.U.I.T.:{{ comprobante.consorcio.cuit }}<br>
              Ingresos Brutos: Exento<br>
              Inicio de actividad: {{comprobante.consorcio.contribuyente.active_since|date:"d/m/Y"}}
            </small>
          </div>
        </div>

        <hr>

        <div class="client">

          <div class="client-data">
            <strong>SOCIO:</strong>
            {{ comprobante.socio }} <br>
            <strong>{{ comprobante.socio.tipo_documento }}:</strong>
            {{ comprobante.socio.numero_documento }} <br>
          </div>
        </div>

        <hr>

      </header>

      <p><strong>Detalle de cobros:</strong></p>
      <table>
        <thead>
          <tr>
            <th>Dominio</th>
            <th>Concepto</th>
            <th>Capital</th>
            <th>Int/Desc</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {% for cobro in comprobante.cobro_set.all %}
            <tr>
              <td>{{ cobro.credito.dominio.nombre }}</td>
              <td>{{ cobro.credito.ingreso }} {{ cobro.credito.periodo|date:"Y-m" }}</td>
              <td>{{ cobro.capital|intcomma }}</td>
              <td>{{ cobro.int_desc|intcomma }}</td>
              <td>{{ cobro.subtotal|intcomma }}</td>
            </tr>
          {% endfor %}
          {% for saldo in comprobante.saldos.all %}
            {% if not saldo.padre %}
              <tr>
                <td>Nuevo saldo a favor</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{saldo.subtotal|intcomma}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% if comprobante.descripcion %}
      <p><strong>Descripcion:</strong></p>
      <i>{{comprobante.descripcion}}</i>
      {% endif %}
      <div class="taxpayer-details group">
        <div class="receipt-details">
          <hr>
          <p><strong>Medios de cobro:</strong></p>
          <table>
            {% for s in comprobante.saldos_utilizados.all %}
              <tr>
                <td>{{s.nombre}}</td>
                <td></td>
                <td>{{s.subtotal|intcomma}}</td>
              </tr>
            {% endfor %}
            {% for c in comprobante.cajacomprobante_set.all %}
              <tr>
                <td>{{ c }}</td>
                <td>{% if c.referencia %}{{ c.referencia }}{% endif %}</td>
                <td>{{ c.valor|intcomma }}</td>
              </tr>
            {% endfor %}
              <tr>
                <th>Total del comprobante</th>
                <th></th>
                <th>{{ comprobante.total|intcomma }}</th>
              </tr>
          </table>
        </div>
      </div>

    </div>
  </body>
</html>
