{% extends 'raiz.html' %}
{% load staticfiles %}

{% block titulo %}
  Registro de transferencias
{% endblock %}

{% block breadcrum %}
  {% include 'comunes/breadcrum.html' with bpadre="transferencias" bhijo1="registro de transferencias" %}
{% endblock %}

{% block header %}
  Registro de transferencias
{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-md-3">
    {% include 'comunes/filtro.html' %}
  </div>
  <div class="col-md-9">
    <div class="card-box">
      {% include 'comunes/paginador.html' %}
      <div class="table-responsive">
        {% include 'herramientas/transferencias/registros/tabla-transferencias.html' with transferencias=lista %}
      </div>
      {% include 'comunes/paginador.html' %}
    </div>
</div>
{% endblock %}


{% block js %}
  {% include 'comunes/js_datatable_print_excel.html' %}
{% endblock %}