{% extends 'raiz.html' %}
{% load staticfiles %}
{% load humanize %}

{% block titulo %}
  {{resumen.nombre}}
{% endblock %}

{% block breadcrum %}
  {% include 'comunes/breadcrum.html' with bpadre="resumenes" bhijo1=resumen.nombre %}
{% endblock %}

{% block header %}
  {{resumen.nombre}}
{% endblock %}

{% block contenido %}
  {% if opcion == 'totales' %}
    <div class="row">
      <div class="col-md-12">
          <div class="card-box">
              <div class="row">
    					  <div class="col-xs-12 text-center">
    					      <h3>{{ consorcio.nombre_completo }}</h3>
    					      <h4>Resumen de pagos</h4>
                    <p>Desde {{ rango.0 }} / Hasta {{ rango.1 }}</p>
    					  </div>
              </div>

              <div class="row">
              	<div class="card-box">
    	            <h4 class="header-title m-t-0 ">Totales por medios de pago</h4>
              		<div class="row">
    	            	<div class="col-xs-12">
    	            		<div class="table-responsive">
                        {% include 'resumenes/pagos/tabla-medios-pago.html' %}
    	            		</div>
    	            	</div>
                  </div>
                  <div class="row">
    	            	<div class="col-xs-12 text-center">
    	            		<canvas id="doughnut" height="300" class="m-t-10"></canvas>
    	            	</div>
              		</div>

              	</div>
              </div>

              <div class="row">
              	<div class="card-box">
    	            <h4 class="header-title m-t-0 ">Totales por erogaciones</h4>
              		<div class="row">
    	            	<div class="col-xs-12">
    	            		<div class="table-responsive">
    	            			{% include 'resumenes/pagos/tabla-erogaciones.html' %}
    	            		</div>
    	            	</div>
              		</div>
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <canvas id="bar" height="300" class="m-t-10"></canvas>
                    </div>
                  </div>

              	</div>
              </div>

              <div class="hidden-print m-t-30 m-b-30">
                <div class="text-right">
                <a href="{% url 'res_par' resumen=resumen.slug %}" class="btn btn-pink waves-effect waves-light"><i class="fa fa-hand-o-left"></i> Consultar otros parametros</a>
                    <a href="javascript:window.print()" class="btn btn-primary waves-effect waves-light"><i class="fa fa-print m-r-5"></i> Imprimir</a>
                </div>
              </div>
          </div>
      </div>
    </div>
  {% elif opcion == 'por-cajas' %}
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-border panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">OP por medios de pago</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="anopa table">
                <thead>
                  <tr class="active">
                    <th>Fecha</th>
                    <th>Pago</th>
                    <th>Acreedor</th>
                    <th>Mediante</th>
                    <th class="text-right">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  {% for f in formas_de_pago %}
                    <tr>
                      <td>{{ f.op.fecha|date:"d/m/Y" }}</td>
                      <td>{{ f.op.formatoAfip }}</td>
                      <td>{{ f.op.acreedor }}</td>
                      <td>{{ f.caja }}</td>
                      <td class="text-right">{{ f.valor }}</td>
                    </tr>
                  {% endfor %}
                  {% for r in retenciones %}
                    <tr>
                      <td>{{ r.op.fecha|date:"d/m/Y" }}</td>
                      <td>{{ r.op.formatoAfip }}</td>
                      <td>{{ r.op.acreedor }}</td>
                      <td>{{ r.deuda.retencion }}</td>
                      <td class="text-right">{{ r.valor }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="header-title m-t-0 ">Totales por medios de pago</h4>
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                {% include 'resumenes/pagos/tabla-medios-pago.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% elif opcion == 'por-erogacion' %}
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-border panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">OP por conceptos pagados</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="anopa table">
                <thead>
                  <tr class="active">
                    <th>Fecha</th>
                    <th>Pago</th>
                    <th>Acreedor</th>
                    <th>Concepto</th>
                    <th>Cuenta</th>
                    <th class="text-right">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  {% for d in deudas %}
                    <tr>
                      <td>{{ d.op.fecha|date:"d/m/Y" }}</td>
                      <td>{{ d.op.formatoAfip }}</td>
                      <td>{{ d.op.acreedor }}</td>
                      <td>{{ d.deuda }}</td>
                      <td>{{ d.deuda.acreedor.cuenta_contable.nombre }}</td>
                      <td class="text-right">{{ d.valor }}</td>
                    </tr>
                  {% endfor %}
                  {% for g in gastos %}
                    <tr>
                      <td>{{ g.op.fecha|date:"d/m/Y" }}</td>
                      <td>{{ g.op.formatoAfip }}</td>
                      <td>{{ g.op.acreedor }}</td>
                      <td>{{ g.gasto }}</td>
                      <td>{{ g.gasto.cuenta_contable.nombre }}</td>
                      <td class="text-right">{{ g.valor }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-box">
          <h4 class="header-title m-t-0 ">Totales por erogaciones</h4>
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                {% include 'resumenes/pagos/tabla-erogaciones.html' %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block js %}
  <script src='{% static "plugins/moment/moment.js" %}'></script>
  {% if opcion == 'totales' %}
    <script src='{% static "plugins/moment/moment.js" %}'></script>
    <script src='{% static "plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}'></script>
    <script src='{% static "plugins/bootstrap-daterangepicker/daterangepicker.js" %}'></script>
    <script src='{% static "plugins/chart.js/chart.min.js" %}'></script>
    <script>
      $(function () {
        $('#input-daterange-datepicker').daterangepicker({
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-success',
            cancelClass: 'btn-default',
            locale: {
                format: 'YYYY-MM-DD',
                applyLabel: 'Aplicar',
                cancelLabel: 'Limpiar',
                fromLabel: 'Desde',
                toLabel: 'Hasta',
                separator: " / ",
                customRangeLabel: 'Seleccionar rango',
                daysOfWeek: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                    'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre',
                    'Diciembre'],
                firstDay: 1
            }
        });
      });
    </script>
    <script>
      $(function () {
      "use strict";

      var ChartJs = function() {};

      ChartJs.prototype.respChart = function(selector,type,data, options) {
          // get selector by context
          var ctx = selector.get(0).getContext("2d");
          // pointing parent container to make chart js inherit its width
          var container = $(selector).parent();

          // enable resizing matter
          $(window).resize( generateChart );

          // this function produce the responsive Chart JS
          function generateChart(){
              // make chart width fit with its container
              var ww = selector.attr('width', $(container).width() );
              switch(type){
                  case 'Doughnut':
                      new Chart(ctx, {type: 'doughnut', data: data, options: options});
                      break;
                  case 'Bar':
                      new Chart(ctx, {type: 'bar', data: data, options: options});
                      break;
              }
              // Initiate new chart or Redraw

          };
          // run function - render chart at first load
          generateChart();
      },
      //init
      ChartJs.prototype.init = function() {
          var donutChart = {
              labels: [
              {% spaceless %}
                {% for caja, valor in cajas.items %}
                  {% if valor %}
                    "{{caja.nombre}}",
                  {% endif %}
                {% endfor %}
                {% if total_retenciones %}
                  "Retenciones"
                {% endif %}
              {% endspaceless %}
              ],
              datasets: [
                  {
                      data: [
                        {% spaceless %}
                          {% for caja, valor in cajas.items %}
                            {% if valor %}
                              {{ valor|get_digit:"0" }},
                            {% endif %}
                          {% endfor %}
                          {% if total_retenciones %}
                            {{total_retenciones|get_digit:"0"}}
                          {% endif %}
                        {% endspaceless %}
                      ],
                      backgroundColor: [
                          "#5553ce",
                          "#297ef6",
                          "#e52b4c",
                          "#ffa91c",
                          "#32c861",
                          "#7FFF00",
                          "#B8860B",
                          "#9932CC",
                          "#2F4F4F",
                          "#FF1493",
                      ],
                      hoverBackgroundColor: [
                          "#5553ce",
                          "#297ef6",
                          "#e52b4c",
                          "#ffa91c",
                          "#32c861",
                          "#7FFF00",
                          "#B8860B",
                          "#9932CC",
                          "#2F4F4F",
                          "#FF1493",
                      ],
                      hoverBorderColor: "#fff"
                  }]
          };
          this.respChart($("#doughnut"),'Doughnut',donutChart);


          //barchart
          var barChart = {
              labels: [
              {% if total_deudas %}
                "Deudas",
              {% endif %}
              {% spaceless %}
                {% for erogacion, valor in erogaciones.items %}
                  {% if valor %}
                    "{{ erogacion.nombre }}",
                  {% endif %}
                {% endfor %}
              {% endspaceless %}
                ],
              datasets: [
                  {
                      label: "Totales",
                      backgroundColor: "rgba(236, 103, 148, 0.3)",
                      borderColor: "#ec6794",
                      borderWidth: 2,
                      hoverBackgroundColor: "rgba(236, 103, 148, 0.6)",
                      hoverBorderColor: "#ec6794",
                      data: [
                        {% if total_deudas %}
                          {{total_deudas|get_digit:"0"}},
                        {% endif %}
                        {% spaceless %}
                          {% for erogacion, valor in erogaciones.items %}
                            {% if valor %}
                              {{ valor|get_digit:"0" }},
                            {% endif %}
                          {% endfor %}
                        {% endspaceless %}
                      ]
                  }
              ]

          };
          var options = {
              // All of my other bar chart option here
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          };
          this.respChart($("#bar"),'Bar',barChart, options);
      },
      $.ChartJs = new ChartJs, $.ChartJs.Constructor = ChartJs

      });

      //initializing
      $(function () {
          "use strict";
          $.ChartJs.init()
      });
    </script>
  {% else %}
    {% include 'comunes/js_datatable_print_excel_titulo.html' with titulo_print=resumen.nombre %}
  {% endif %}

{% endblock %}