{% extends 'raiz.html' %}
{% load staticfiles %}
{% load humanize %}

{% block titulo %}
  Articulo 9
{% endblock %}


{% block header %}
    Articulo 9
{% endblock %}  


{% block js %}
    {% include 'comunes/datepicker.html' %}
{% endblock %}
{% block contenido %}


<div class="row">
  <div class="col-md-3">
    {% include 'herramientas/barra_organos.html' %}
  </div>

  <div class="col-md-9">


      
    <div class="row">
 
      <div class="col-md-12">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-info pull-right">Confirmar</button>
        </form>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}
