{% extends 'raiz.html' %}
{% load staticfiles %}

{% block titulo %}
  Vinculaciones con erogaciones y deudas
{% endblock %}

{% block breadcrum %}
  {% include 'comunes/breadcrum.html' with bpadre="OP" bhijo1="vinculacion" %}
{% endblock %}

{% block header %}
  Vinculaciones con erogaciones y deudas
{% endblock %}

{% block contenido %}
    <form id="formOP" method="POST" action="">{% csrf_token %}
      {% if errores %}
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-icon alert-warning fade in">
            <i class="mdi mdi-alert"></i>
              <ul>
                {% for error in errores %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

    	<div class="row">
        <div class="col-md-8">
          {% if deudas %}
            <div class="card-box">
            <h4 class="m-t-0 header-title">Seleccione deudas con el acreedor</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Numero</th>
                    <th>Fecha</th>
                    <th class="text-right">Total</th>
                    <th width="20"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for deuda in deudas %}
                    <tr>
                      <td>
                        <input type="checkbox" class="deudclass" id="select_one" value="{{ deuda.id }}">
                      </td>
                      <td>
                        {% if deuda.retencion %}
                          {{deuda.retencion}}
                        {% endif %}
                        {{ deuda.numero }}
                      </td>
                      <td>{{ deuda.fecha|date:"d/m/Y" }}</td>
                      <td class="text-right total_individual">{{ deuda.saldo }}</td>
                      <td>
                        <a href="{% url 'op_d_parcial' pk=deuda.pk %}">
                          <span class="label label-purple">Pago parcial</span>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            </div>
          {% endif %}
    			<div class="card-box">
            <h4 class="m-t-0 header-title">Ingrese erogaciones a la orden de pago</h4>
      			<div class="table-responsive">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Tipo</th>
                    <th width="200">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  {% for gasto in op.acreedor.tipo.all %}
                    <tr>
                      <td>{{ gasto }}</td>
                      <td>
                      	<input type="number" class="gastoclass form-control total-individual" step="0.01" name="gasto_{{gasto.id}}" placeholder="0.00">
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
      			</div>
    			</div>

    		</div>

    		<div class="col-md-4">
          <div class="card-box widget-box-three">
            <div class="bg-icon pull-left">
              <img src="{% static 'assets/images/icons/conference_call.svg' %}" title="advertising.svg">
            </div>
            <div class="text-right">
              <p class="m-t-5 text-uppercase font-14 font-600">Pago a acreedor</p>
              <h4 class="m-b-20">{{op.acreedor}}</h4>
            </div>
          </div>
          <div class="card-box widget-box-three">
            <div class="bg-icon pull-left">
              <img src="{% static 'assets/images/icons/sales_performance.svg' %}" title="advertising.svg">
            </div>
            <div class="text-right">
              <p class="m-t-5 text-uppercase font-14 font-600">Total</p>
              <h2 class="m-b-10">$<span id="total">0.00</span></h2>
            </div>
          </div>

          <button type="submit" class="accion_envio btn btn-bordered btn-primary btn-block">Siguiente</button>
        </div>
    	</div>
      <br>
    </form>
{% endblock %}

{% block js %}
  <script src='{% static "anopa/pagos.js" %}'></script>
{% endblock %}