{% extends 'raiz.html' %}
{% load staticfiles %}
{% load humanize %}

{% block titulo %}
  Deuda con {{deuda.acreedor}} {{deuda.numero}}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href='{% static "plugins/datatables/jquery.dataTables.min.css" %}'>
  <link rel="stylesheet" href='{% static "plugins/datatables/buttons.bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "plugins/datatables/dataTables.bootstrap.min.css" %}'>
{% endblock %}

{% block breadcrum %}
  {% include 'comunes/breadcrum.html' with bpadre="deudas" bhijo1="registro de deudas" bhijo2=deuda.acreedor %}
{% endblock %}

{% block header %}
  Deuda con {{deuda.acreedor}} {{deuda.numero}}
{% endblock %}

{% block contenido %}

<div class="row">

  <div class="col-md-6">

    <div class="card-box widget-box-three">
      <div class="bg-icon pull-left">
        <img src="{% static 'assets/images/icons/planner.svg' %}" title="planner.svg">
      </div>
      <div class="text-right">
        <p class="m-t-5 text-uppercase font-14 font-600">Fecha</p>
        <h2 class="m-b-10">{{ deuda.fecha|date:"d/m/Y" }}</h2>
      </div>
    </div>

    <div class="card-box widget-box-three">
      <div class="bg-icon pull-left">
        <img src="{% static 'assets/images/icons/todo_list.svg' %}" title="advertising.svg">
      </div>
      <div class="text-right">
        <p class="m-t-5 text-uppercase font-14 font-600">Observacion</p>
      </div>
        <p class="m-t-50">
          {% if deuda.observacion %}
            {{ deuda.observacion }}
          {% else %}
            No hay observaciones
          {% endif %}
        </p>
    </div>

  </div>

  <div class="col-md-6">

    <div class="card-box widget-box-three ribbon-box">
      <div class="bg-icon pull-left">
        {% if deuda.pagado %}
          <img src="{% static 'assets/images/icons/approval.svg' %}" title="advertising.svg">
        {% else %}
          <img src="{% static 'assets/images/icons/medium_priority.svg' %}" title="advertising.svg">
        {% endif %}
      </div>
      <div class="text-right">
        <p class="m-t-5 text-uppercase font-14 font-600">Estado</p>
        <h2 class="m-b-10">
          {% if deuda.pagado %}
            Pagado
          {% else %}
            Pendiente
          {% endif %}
        </h2>
      </div>
    </div>

    <div class="card-box widget-box-three ribbon-box">
      <div class="bg-icon pull-left">
        <img src="{% static 'assets/images/icons/sales_performance.svg' %}" title="advertising.svg">
      </div>
      <div class="text-right">
        <p class="m-t-5 text-uppercase font-14 font-600">Total</p>
        <h2 class="m-b-10">$ {{ deuda.total|intcomma }}</h2>
      </div>
    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-6">

    <div class="panel panel-border panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Listado de erogaciones generados</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          {% include 'deudas/tabla-deuda.html' %}
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="panel panel-border panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Pagos realizados</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          {% include 'deudas/tabla-pagos.html' %}
        </div>
      </div>
    </div>

  </div>


</div>


{% endblock %}


{% block js %}
  <script src='{% static "plugins/datatables/jquery.dataTables.min.js" %}'></script>
  <script src='{% static "plugins/datatables/dataTables.bootstrap.js" %}'></script>
  <script src='{% static "plugins/datatables/dataTables.buttons.min.js" %}'></script>
  <script src='{% static "plugins/datatables/buttons.bootstrap.min.js" %}'></script>
  <script src='{% static "plugins/datatables/jszip.min.js" %}''></script>
  <script src='{% static "plugins/datatables/vfs_fonts.js" %}''></script>
  <script src='{% static "plugins/datatables/buttons.html5.min.js" %}''></script>
  <script src='{% static "plugins/datatables/buttons.print.min.js" %}''></script>

  <script src='{% static "plugins/moment/moment.js" %}'></script>
  <script src='{% static "plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}'></script>
  <script src='{% static "plugins/bootstrap-daterangepicker/daterangepicker.js" %}'></script>
  <script>
    $(function () {
      var handleDataTableButtons = function() {
              "use strict";
              0 !== $(".anopa").length && $(".anopa").DataTable({
                  dom: "Bfrtip",
                  buttons: [{
                      extend: "excel",
                      className: "btn-sm"
                  }],
                  responsive: !0,
                  ordering: false,
                  paging: false,
                  bInfo: false,
                  language: {
                    "emptyTable": "No hay entradas",
                    "search": "Buscar: ",
                    "paginate": {
                        "first":"Primero",
                        "last":"Ultimo",
                        "next":">",
                        "previous":"<",
                    },
                    "lengthMenu": "Ver _MENU_ entradas",
                    "info": "Visualizando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty": "Visualizando 0 a 0 de 0 entradas",
                  }
              })
          },
          TableManageButtons = function() {
              "use strict";
              return {
                  init: function() {
                      handleDataTableButtons()
                  }
              }
          }();
      TableManageButtons.init();

    });

  </script>
{% endblock %}