{% extends 'raiz.html' %}
{% load staticfiles %}

{% block titulo %}
  Vinculaciones con erogaciones
{% endblock %}

{% block breadcrum %}
  {% include 'comunes/breadcrum.html' with bpadre="deudas" bhijo1="vinculacion" %}
{% endblock %}

{% block header %}
  Vinculaciones con erogaciones
{% endblock %}

{% block contenido %}
    <form method="POST" action="">{% csrf_token %}
      {% if errores %}
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-icon alert-warning fade in">
            <i class="mdi mdi-alert"></i>
              <ul>
                {% for error in errores %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
    	<div class="row">
    		<div class="col-md-8">
    			<div class="card-box">
          <h4 class="m-t-0 header-title">Seleccione vinculaciones de erogaciones</h4>
    			<div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Gasto</th>
                  <th width="200">Valor</th>
                </tr>
              </thead>
              <tbody>
                {% for gasto in erogaciones_posibles %}
                  <tr>
                    <td>{{ gasto }}</td>
                    <td>
                    	<input type="number" class="gastoclass suma form-control total-individual" step="0.01" name="gasto_{{gasto.id}}" placeholder="0.00">
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
    			</div>

    			</div>
    		</div>

    		<div class="col-md-4">
          <div class="card-box widget-box-three">
            <div class="bg-icon pull-left">
              <img src="{% static 'assets/images/icons/sales_performance.svg' %}" title="advertising.svg">
            </div>
            <div class="text-right">
              <p class="m-t-5 text-uppercase font-14 font-600">Total</p>
              <h2 class="m-b-10">$<span id="total">0.00</span></h2>
            </div>
          </div>
          <div class="card-box">
          	<h4 class="m-t-0 header-title">Agrega una observacion</h4>
            {{ form.as_p }}
          </div>
        </div>
    	</div>

      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="accion_envio btn btn-bordered btn-primary btn-block">Generar</button>
        </div>
      </div>
      <br>
    </form>
{% endblock %}

{% block js %}
  <script src='{% static "anopa/pagos.js" %}'></script>
{% endblock %}