{% extends extension %}

{% block panel-body %}
  <div class="alert alert-icon alert-white alert-warning alert-dismissible fade in" role="alert">
      <i class="mdi mdi-alert"></i>
      <strong>Aclaraciones:</strong>
      <ul>
        <li>Solo se admiten archivos de tipo ".xlsx"</li>
        <li>
          Debe contener las siguientes columnas con sus respectivos formatos:
          <ol>
            <li>fecha: Fecha</li>
            <li>socio: Numero (Debe colocarse el numero de socio tal cual se encuentra en parametros)</li>
            <li>caja: Numero (Debe colocarse el numero de la caja tal cual se encuentra en parametros)</li>
            <li>importe: Numero</li>
            <li>detalle: Texto (Puede estar vacio)</li>
          </ol>
        </li>
      </ul>
  </div>
    {{wizard.form.as_p}}
{% endblock %}

