{% extends extension %}
{% load humanize %}

{% block panel-body %}
  <div class="row">
    <div class="col-md-12">
      {% if errores %}
        <div class="alert alert-icon alert-white alert-danger">
            <i class="mdi mdi-block-helper"></i>
            <p>Hemos encontrado algunos errores en el archivo.</p>
            <ul>
              {% for error in errores %}
                <li>{{error}}</li>
              {% endfor %}
            </ul>
            <p>Si deseas proseguir no se tomaran en cuenta estas lineas para crear conceptos a facturar. O bien podes corregir el archivo y volverlo a importar</p>
        </div>
      {% endif %}
      {% if cobros %}
        <div class="alert alert-icon alert-white alert-warning">
            <i class="mdi mdi-alert"></i>
            <strong>Revision:</strong> Estos son los datos que pudimos recopilar del archivo que subiste
        </div>
        <p>
          <div class="table-responsive">
            <table class="table table-condensed table-bordered">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Socio</th>
                  <th>Caja</th>
                  <th class="text-right">Importe</th>
                </tr>
              </thead>

              <tbody>
                {% for cobro in cobros %}
                  <tr>
                    <td>{{ cobro.fecha_cobro|date:"d/m/Y" }}</td>
                    <td>{{ cobro.unidad_funcional }}</td>
                    <td>{{ cobro.canal_de_pago }}</td>
                    <td class="text-right">{{ cobro.importe_cobrado|intcomma }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </p>
      {% endif %}
    </div>
  </div>

{% endblock %}
{% block js-extra %}
  {% if not cobros %}
    <script>
        $(':input[type="submit"]').prop('disabled', true);
    </script>
  {% endif %}
{% endblock %}