{% extends 'raiz.html' %}

{% block titulo %}
  Nueva {{peticion|default:"liquidacion de facturas"}} - {{ tipo }}
{% endblock %}

{% block breadcrum %}
  {% include 'comunes/breadcrum.html' with bpadre="facturacion" bhijo1=tipo %}
{% endblock %}

{% block header %}
  Nueva {{peticion|default:"liquidacion de facturas"}} - {{ tipo }}
{% endblock %}

{% block contenido %}
  <div class="row">
    <div class="col-md-12">
      <form action="" id="form-nuevo" enctype="multipart/form-data" method="POST">{% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</h3>
          </div>
          <div class="panel-body">
            {{ wizard.management_form }}
            <div class="row">
              <div class="col-md-12">
                {% block panel-body %}
                {% endblock %}
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-3">
                {% if wizard.steps.prev %}
                  <a href="?reset" class="btn btn-bordered btn-default btn-block">Resetear</a>
                {% endif %}
              </div>
              <div class="col-md-9">
                <button type="submit" id="next-step" class="btn btn-bordered btn-primary btn-block">
                  {% if wizard.steps.current == wizard.steps.last %}
                    Confirmar
                  {% else %}
                    Siguiente
                  {% endif %}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  {% include 'creditos/nuevo/js.html' %}
  {% block js-extra %}
  {% endblock %}
{% endblock %}